<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary index-container">
    <div class="container-fluid">

        <button class="navbar-toggler navbar-brand" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div id="filters" >
                    <div class="filter ">
                        <div>
                            <a href="/listings/filter?q=seashore"><i class="fa-solid fa-water"></i><p>Seashore</p></a></div>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=rooms"><i class="fa-solid fa-bed"></i><p>Rooms</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=farm"><i class="fa-solid fa-cow"></i><p>Farm</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=castels"><i class="fa-brands fa-fort-awesome"></i><p>Castels</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=arctic"><i class="fa-solid fa-snowflake"></i><p>Arctic</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=camping"><i class="fa-solid fa-campground"></i><p>Camping</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=boats"></a><i class="fa-solid fa-ship"></i> <p>Boats</p>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=mountain"><i class="fa-solid fa-mountain"></i><p>Mountain</p></a>

                    </div>
                    <div class="filter ">
                        <a href="/listings/filter?q=mountain city"><i class="fa-solid fa-mountain-city"></i><p>Mountain City</p></a>

                    </div>
                    <div class="form-check-reverse form-switch tax-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">show taxes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>