<% layout("./layouts/boilerplate.ejs")%>
<body>
    <div class="row col-6 offset-3 mt-3">
        <div class="alert alert-danger" role="alert">
            <b><p class="error-heading"> <%=err.message%></p></b>
        </div>
    </div>
</body>
