body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    flex:1;
}

/* navbar */
.navbar{
    background-color: white;
    height: 5rem;
}

.fa-compass{
    font-size: 2rem;
    color:#fe424d;
}

.nav-link{
    color:#222222 !important ;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8rem;
    background-color: #ededed;
    
}

.f-info-links ,.f-info-socials{
    text-align: center;
    width: 100%;
}
.f-info-socials{
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{

    font-size: 1.3rem;
    margin-right:1.2rem ;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}


.newLink:hover{
    background-color: lightgray;
    border-radius: 12px;
}

.search-bar{
    margin-left: auto;
  }
  .search-input{
    width: 300px !important;
    border-radius:1rem ;
  }
  .search-btn{
    border: none !important;
    border-radius:1rem ;
    background-color: #fe424d !important;
    color: white;
  }
  @media (width<768px)
      {
            .navbar .searchNav{
                background-color:#e9ecef ;
                width: 90%;
            }
            .navbar .search-bar{
                width:50%;
                margin-left: 0px;
            }
            .newLink:hover{
              background-color: transparent ;
              border: none;
            }
      }


/* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem !important;
}

.card-img-top{
    border-radius:1rem !important;
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.card-body{
    padding:0 !important ;
    font-weight: 400 !important;
    
    /* height: ; */
}

.card-linking{
    text-decoration: none;
}

/* card-effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new listing */
.add-btn{
    border:none !important;
    background-color: #fe424d !important;

}

/* edit listing */
.edit-btn{
    border:none !important;
    background-color: #fe424d !important;

}

/* show listing */
.btns{
    display: flex;
     
}

.btns .btn{
    border:none;
}

.show-img{
    height: 30vh;
    object-fit: cover;
}

/* review */
.review-card{
    padding:3px ;

}


/* filter */
#filters {
            
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.index-container{
    background-color: white !important;
}

.filter {
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
    opacity: 0.8;
    cursor: pointer;
    display: block !important;
}

.filter:hover {
    opacity: 1;
}

.filter p {
    font-size: 0.8rem;
}

.filter a{
    text-decoration: none;
    color: black;
}

.tax-switch {
    /* /* display: block !important; */
    padding: 5px;
    margin-left: 100px; 
    /* align-items: center; */
    /* margin-left:12rem ; */
    border-radius: 12px;
    border: 1px solid grey;
    width: 150px;
    
}

.taxInfo {
    display: none;
}

@media(width < 992px)
{
        #filters{
            background-color: #e9ecef;
            z-index: 1 !important;;
            border-radius: 10px;
        }
        .listings{
            margin-top: 50px;
        }
        .tax-switch{
            margin-bottom:10px ;
            margin-left: 05px;
        }
}